<div class="card">
    <div class="card-body p-0">
        <div class="media p-2">
            <img src="assets/mao_profile.jpg" class="profile">
            <div>
                <div class="name">Maoindy</div>
                <div class="time">26 mins</div>
                <div class="privacy">public</div>
            </div>
        </div>
        <p class="card-text px-2 mb-0">ลำปางร้อนยังกะไฟเยอร์</p>
        <img src="assets/tony.jpg" class="card-img-bottom px-0" alt="...">
    </div>
</div>