<div class="create-post post-list" [formGroup]="creatForm">
    <div class="small-profile">
        <img src="assets/mao_profile.jpg" class="small-profile-img">
        <div>
            <div class="small-profile-name">Maoindy</div>
            <select class="form-select form-select-sm small-profile-privacy-select" formControlName="privacyLevel">
                <option value="friend">friend</option>
                <option value="public">public</option>
                <option value="onlyme">only me</option>
            </select>
        </div>
    </div>
    <textarea class="form-control text-input" id="createPost" placeholder="want to share something?"
        formControlName="text"></textarea>
    <div class="preview-image-panel">
        <i *ngIf="uploadImageUrl" class="bi bi-x-square preview-image-close" (click)="onCloseImageClick()"></i>
        <img *ngIf="uploadImageUrl" [src]="uploadImageUrl" class="preview-image mb-3">
    </div>
    <div class="d-flex justify-content-end">
        <!-- <input class="input-file " type="file" (change)="onFileChanged($event)">
        <i class="bi bi-image fs-2">Smaller heading</i> -->
        <div>
            <i class="bi bi-image"></i>
            <label class="fileContainer">
                <input type="file" (change)="onFileChanged($event)">
            </label>
        </div>
        <button type="button" class="btn btn-primary btn-sm ms-3" [disabled]="creatForm.invalid" (click)="post()">
            <span *ngIf="!posting">Post</span>
            <div *ngIf="posting">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                <span class="visually-hidden">Loading...</span>
            </div>
        </button>
    </div>
</div>