<div class="container d-flex flex-column align-items-stretch align-items-md-center">
    <div class="text-white">
        <p class="logo-text">Suma town</p>
        <p class="sub-logo-text">The town of good people.</p>
    </div>

    <div class="card-width mt-md-3 mb-5">
        <app-signin></app-signin>
        <hr class="mt-md-4" style="border: 1px solid azure;" />
        <h3 class="text-white mt-md-5">Or join us now!</h3>
        <div class="mt-md-4">
            <app-sign-up></app-sign-up>
        </div>
    </div>
</div>