<div class="d-flex flex-column flex-md-row align-items-center mt-4">
    <img class="rounded-circle" src="assets/mao_profile.jpg" style="width: 10rem;">
    <h2 class="text-white align-self-md-end mt-2 ms-md-5">Maoindy</h2>
    <ul class="nav align-self-md-end mt-2 ms-md-5 flex-md-shrink-0">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Timeline</a>
        </li>
        <li class="nav-item">
            <a class="nav-link link-light" href="#">Photos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link link-light" href="#">Friends</a>
        </li>
        <li class="nav-item">
            <a class="nav-link link-light dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                aria-expanded="false">More</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">About me</a></li>
                <li><a class="dropdown-item" href="#">More 2</a></li>
                <li><a class="dropdown-item" href="#">More 3</a></li>
            </ul>
        </li>
    </ul>
</div>

<app-post-list></app-post-list>