<div class="card bg-dark text-white mt-5 post-width">
    <div class="card-body">
        <div class="d-flex">
            <img src="assets/mao_profile.jpg" class="flex-shrink-0" style="height: 3.8rem;">
            <div class="ms-3">
                <h5 class="card-title align-top " style="line-height: 1rem;">Maoindy</h5>
                <div class="fs-7 text-secondary">{{ post.created | dateTimezone:'y-M-d, H:mm' }}</div>
                <i class="bi fs-7 text-secondary" [class]="addPrivacyLevelClass(post.privacyLevel)"></i>
            </div>
        </div>
        <p class="card-text mt-2">{{ post.text }}</p>
    </div>
    <img class="card-img-bottom" [src]="imageUrl + '/images/' + post.imageName" *ngIf="post.imageName !== null">
    <div class="d-flex justify-content-around my-3">
        <div>Like</div>
        <div class="pointer" (click)="onClickComment(post.id)">Comment</div>
        <div>Share</div>
    </div>
    <app-create-comment [postId]="post.id" (commentEvent)="addComment($event)" *ngIf="isShowAddComment">
    </app-create-comment>
    <app-comment-list [comments]="comments"></app-comment-list>
</div>