<div class="post post-list">
    <div class="post-profile">
        <img src="assets/mao_profile.jpg" class="post-profile-img">
        <div>
            <div class="post-profile-name">Maoindy</div>
            <div class="post-profile-time">{{ post.created | dateTimezone:'y-M-d, H:m' }}</div>
            <div class="post-profile-privacy"><i class="bi" [class]="addPrivacyLevelClass(post.privacyLevel)"></i></div>
        </div>
    </div>
    <p class="post-content">{{ post.text }}</p>
    <img src="assets/tony.jpg" class="post-img" alt="...">
    <div class="row gx-0 action-panel mt-4 mx-2">
        <div class="col text-center pointer">Like</div>
        <div class="col text-center pointer" (click)="onClickComment(post.id)">Comment</div>
        <div class="col text-center pointer">Share</div>
    </div>
    <app-create-comment [postId]="post.id" (commentEvent)="addComment($event)" *ngIf="isShowAddComment">
    </app-create-comment>
    <app-comment-list [comments]="comments"></app-comment-list>
</div>