/* You can add global styles to this file, and also import other style files */
html {
    background-color: #1c1e21;
}

.dark {
    background-color: #1c1e21;
}

.feed {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .5rem;
    max-width: 564px;
    background-color: #242526;
    color:white;
}

.feed > .feed-profile {
    display: flex;
    padding: 0.5rem;
}

.feed-profile > div {
    padding-left: 0.4rem;
    padding-bottom: 0.5rem;
}

.feed-profile > .feed-profile-img {
    height: 3.75rem;
}

.feed-profile > div > .feed-profile-name {
    font-weight: 600;
    line-height: 1.25rem;
}

.feed-profile > div > .feed-profile-time {
    font-size: 0.8rem;
    color: #b0b3b8;
}

.feed-profile > div > .feed-profile-privacy {
    font-size: 0.8rem;
}

.feed-content {
    padding-left: .5rem;
}

.create-feed {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .5rem;
    max-width: 564px;
    padding: 0.5rem;
    margin-bottom: 1rem;
    background-color: #242526;
    color:white;
}

.small-profile {
     display: flex;
     margin-bottom: .5rem;
}

.small-profile-img {
    height: 3.75rem;
    margin-right: .5rem;
}

.small-profile-name {
    font-weight: 600;
    line-height: 1.25rem;
}

.small-profile-privacy {
    font-size: 0.8rem;
}

.text-input {
    margin-bottom: .5rem;
}

