/* You can add global styles to this file, and also import other style files */
html {
    background-color: rgb(80 80 80);
}

.dark {
    background-color: rgb(80 80 80);
}

/* lg */
@media (min-width: 768px) { 
    .post-width {
       width: 680px;
  }
}

.post {
    display: flex;
    flex-direction: column;
    border-radius: .4rem;
    background-color:rgb(66 66 66);
    color:rgb(238, 238, 238);
    margin-bottom: 1rem;
}

.post > .post-profile {
    display: flex;
    padding: 1rem 1rem .25rem 1rem;
}

.post-profile > div {
    padding-left: 1rem;
    padding-bottom: .5rem;
}

.post-profile > .post-profile-img {
    height: 3.7rem;
    margin-right: .2rem;
}

.post-profile > div > .post-profile-name {
    font-weight: 600;
    line-height: 1.25rem;
}

.post-profile > div > .post-profile-time {
    font-size: 0.8rem;
    color: #b0b3b8;
}

.post-profile > div > .post-profile-privacy {
    font-size: 0.8rem;
}

.post-content {
    padding-left: 1rem;
}

.create-post {
    display: flex;
    flex-direction: column;
    border-radius: .4rem;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color:rgb(66 66 66);
    color:rgb(238, 238, 238);
}

.small-profile {
     display: flex;
     margin-bottom: .6rem;
}

.small-profile > div {
    padding-left: 1.25rem;
    padding-bottom: .5rem;
}

.small-profile-img {
    height: 3.7rem;
}

.small-profile-name {
    font-weight: 600;
    line-height: 1.25rem;
}

.small-profile-privacy {
    font-size: 0.8rem;
}

.small-profile-privacy-select {
    margin-top: .6rem;
    background-color: rgb(108 117 125) !important;
    border-width: 0 !important;
    color: rgb(238, 238, 238) !important;
}

.text-input {
    margin-bottom: .8rem;
    background-color: rgb(57,57,57) !important;
    border-width: 0 !important;
    resize: none;
    color:white !important;
}

.action-panel {
    border-top:solid 1px rgba(108, 122, 122, 0.863);
    border-bottom:solid 1px rgba(108, 122, 122, 0.863);
    line-height: 2.5rem;
    margin-bottom: .8rem;
}

.pointer {
    cursor: pointer;
}

.fs-7 {
    font-size:small ;
}
